.searchInput {
  width: 300px;
  height: 40px;
  border: 1px solid var(--teal-teal-300, #4fd1c5);
  border-radius: 12px;
  // align-items: center;
  // flex-shrink: 0;
  // & > .iconSearchInput {
  //   top: 0%;
  //   transform: none;
  // }
}
