.ant-table-wrapper .ant-table-thead > tr > th {
  background: white;
  color: #a0aec0;
  font-family: Helvetica;
}

.ant-table-wrapper .ant-table-thead > tr > th::before {
  background-color: white !important;
}

.titleTable {
  font-family: Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin: 10px;
}
