$primary-color: #24bcc6;
$teal-teal-300: #4fd1c5;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #24bcc6;
  --teal-teal-300: #4fd1c5;
}

.buttonPrimary {
  &:hover,
  :focus {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(79, 209, 197);
    transform: translateY(-0.25em);
  }
}

.globe-svg {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
}
